text-color = #666
bgr-color = #eee
primary-color = darken(#7dc7ed, 20%)
primary-color-light = #cce9f8
secondary-color = lighten(#fff4cc, 30%)

body
  margin: 0
  color: text-color
  font-family: sans-serif

a:link, a:visited
  color: text-color

.container
  display: -webkit-box
  display: -moz-box
  display: box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  display: flex
  -webkit-flex-flow: column nowrap
  -moz-flex-flow: column nowrap
  flex-flow: column nowrap
  -webkit-box-pack: justify
  -moz-box-pack: justify
  box-pack: justify
  -webkit-justify-content: space-between
  -moz-justify-content: space-between
  -ms-justify-content: space-between
  -o-justify-content: space-between
  justify-content: space-between
  -ms-flex-pack: justify
  font-size: 1rem
  line-height: 1.5

.header
  background-color: primary-color-light
  border-bottom: 3px solid primary-color
  font-weight: bold
  font-size: 1.2em

.header
  display: none

.row
  width: 100%

.row:nth-of-type(even)
  background-color: secondary-color

.item
  display: -webkit-box
  display: -moz-box
  display: box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  display: flex
  -webkit-flex-flow: row nowrap
  -moz-flex-flow: row nowrap
  flex-flow: row nowrap
  -webkit-flex-grow: 1
  -moz-flex-grow: 1
  flex-grow: 1
  -ms-flex-positive: 1
  -webkit-flex-basis: 0
  -moz-flex-basis: 0
  flex-basis: 0
  -ms-flex-preferred-size: 0
  word-wrap: break-word
  overflow-wrap: break-word
  word-break: break-all
  padding: 0.5em
  word-break: break-word

.item:before
  content: attr(data-header)
  width: 30%
  font-weight: 700

@media (min-width: 800px)
  .item
    padding: 0.5em
  .item:before
    content: none
  .row
    display: -webkit-box
    display: -moz-box
    display: box
    display: -webkit-flex
    display: -moz-flex
    display: -ms-flexbox
    display: flex
    -webkit-flex-flow: row nowrap
    -moz-flex-flow: row nowrap
    flex-flow: row nowrap
