.reveal {
  .right {
    text-align: right;
  }
  .slides .margin-lg {
    line-height: 3em;
  }

  .row-2-left {
    float: left;
    width: 50%;
  }
  .row-2-right {
    float: right;
    width: 40%;
  }
  .row-35-left {
    float: left;
    width: 34%;
  }
  .row-65-right {
    float: right;
    width: 65%;
  }
  .row-60-left {
    float: left;
    width: 56%;
  }
  .row-40-right {
    float: right;
    width: 40%;
  }
}
