<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Google Reader shadow</title>
<style>
* {border-sizing: border-box;}

.box {
  width: 200px;
  height: 400px;
  margin: 30px auto 0;
  overflow-y: scroll;
  padding: 20px;
}
</style>

<link rel="stylesheet" href="css/2.css">

</head>
<body>

<div class="box">
  <p>'Call it what you like,' said the Cat. 'Do you play croquet with the  Queen to-day?'</p>

  <p>'I should like it very much,' said Alice, 'but I haven't been invited  yet.'</p>

  <p>'You'll see me there,' said the Cat, and vanished.</p>

  <p>Alice was not much surprised at this, she was getting so used to queer  things happening. While she was looking at the place where it had been,  it suddenly appeared again.</p>

  <p>'By-the-bye, what became of the baby?' said the Cat. 'I'd nearly  forgotten to ask.'</p>

  <p>'It turned into a pig,' Alice quietly said, just as if it had come back  in a natural way.</p>
</div>

</body>
</html>
