<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Fixed width, fluid background</title>
<style>
*{ box-sizing: border-box; margin: 0; padding:0;}
section{
  margin: 0;
}
section:nth-of-type(3n+1) {background-color: bisque; }
section:nth-of-type(3n+2) {background-color: lightslategrey; }
section:nth-of-type(3n) {background-color: lightblue;}

</style>
<link rel="stylesheet" href="css/3.css">
</head>
<body>

  <section>
    <div class="wrapper">
      <h1>Heading</h1>
      <p>I stepped over him gingerly and pushed on up the hill.  I made my way by the police station and the College Arms towards my own house. Nothing was burning on the hillside, though from the common there still came a red glare and a rolling tumult of ruddy smoke beating up against the drenching hail.  So far as I could see by the flashes, the houses about me were mostly uninjured.  By the College Arms a dark heap lay in the road.</p>

      <p>Down the road towards Maybury Bridge there were voices and the sound of feet, but I had not the courage to shout or to go to them.  I let myself in with my latchkey, closed, locked and bolted the door, staggered to the foot of the staircase, and sat down.  My imagination was full of those striding metallic monsters, and of the dead body smashed against the fence.</p>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <h1>Heading</h1>
      <p>I stepped over him gingerly and pushed on up the hill.  I made my way by the police station and the College Arms towards my own house. Nothing was burning on the hillside, though from the common there still came a red glare and a rolling tumult of ruddy smoke beating up against the drenching hail.  So far as I could see by the flashes, the houses about me were mostly uninjured.  By the College Arms a dark heap lay in the road.</p>

      <p>Down the road towards Maybury Bridge there were voices and the sound of feet, but I had not the courage to shout or to go to them.  I let myself in with my latchkey, closed, locked and bolted the door, staggered to the foot of the staircase, and sat down.  My imagination was full of those striding metallic monsters, and of the dead body smashed against the fence.</p>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <h1>Heading</h1>
      <p>I stepped over him gingerly and pushed on up the hill.  I made my way by the police station and the College Arms towards my own house. Nothing was burning on the hillside, though from the common there still came a red glare and a rolling tumult of ruddy smoke beating up against the drenching hail.  So far as I could see by the flashes, the houses about me were mostly uninjured.  By the College Arms a dark heap lay in the road.</p>

      <p>Down the road towards Maybury Bridge there were voices and the sound of feet, but I had not the courage to shout or to go to them.  I let myself in with my latchkey, closed, locked and bolted the door, staggered to the foot of the staircase, and sat down.  My imagination was full of those striding metallic monsters, and of the dead body smashed against the fence.</p>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <h1>Heading</h1>
      <p>I stepped over him gingerly and pushed on up the hill.  I made my way by the police station and the College Arms towards my own house. Nothing was burning on the hillside, though from the common there still came a red glare and a rolling tumult of ruddy smoke beating up against the drenching hail.  So far as I could see by the flashes, the houses about me were mostly uninjured.  By the College Arms a dark heap lay in the road.</p>

      <p>Down the road towards Maybury Bridge there were voices and the sound of feet, but I had not the courage to shout or to go to them.  I let myself in with my latchkey, closed, locked and bolted the door, staggered to the foot of the staircase, and sat down.  My imagination was full of those striding metallic monsters, and of the dead body smashed against the fence.</p>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <h1>Heading</h1>
      <p>I stepped over him gingerly and pushed on up the hill.  I made my way by the police station and the College Arms towards my own house. Nothing was burning on the hillside, though from the common there still came a red glare and a rolling tumult of ruddy smoke beating up against the drenching hail.  So far as I could see by the flashes, the houses about me were mostly uninjured.  By the College Arms a dark heap lay in the road.</p>

      <p>Down the road towards Maybury Bridge there were voices and the sound of feet, but I had not the courage to shout or to go to them.  I let myself in with my latchkey, closed, locked and bolted the door, staggered to the foot of the staircase, and sat down.  My imagination was full of those striding metallic monsters, and of the dead body smashed against the fence.</p>
    </div>
  </section>

  <section>
    <div class="wrapper">
      <h1>Heading</h1>
      <p>I stepped over him gingerly and pushed on up the hill.  I made my way by the police station and the College Arms towards my own house. Nothing was burning on the hillside, though from the common there still came a red glare and a rolling tumult of ruddy smoke beating up against the drenching hail.  So far as I could see by the flashes, the houses about me were mostly uninjured.  By the College Arms a dark heap lay in the road.</p>

      <p>Down the road towards Maybury Bridge there were voices and the sound of feet, but I had not the courage to shout or to go to them.  I let myself in with my latchkey, closed, locked and bolted the door, staggered to the foot of the staircase, and sat down.  My imagination was full of those striding metallic monsters, and of the dead body smashed against the fence.</p>
    </div>
  </section>

</body>
</html>
